<html lang="en">
    <%- include("./partials/head.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lren ipsum dolor, sit amet consectur adipiscing elit. Quia quibusdam</p>
        <p>Lren ipsum dolor, sit amet consectur adipiscing elit. Quia quibusdam</p>
        <p>Lren ipsum dolor, sit amet consectur adipiscing elit. Quia quibusdam</p> 
    </div>

  <%- include("./partials/footer.ejs") %>

</body>
</html>     